################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectFilm/obj/Debug/ProjectFilm_MarkupCompile.i.lref
/ProjectFilm/bin/Debug/ProjectFilm.vshost.exe.manifest
